<!--extends继承，只能有一个-->
{% extends "mater.html" %}

{% block css %}
    <style>

    </style>
{% endblock %}

{% block title %}用户管理{% endblock %}

{% block content %}
    <div>
        <h3>用户管理</h3>
        <ul>
            {% for user in user_list %}
                <li>{{ user }}</li>
            {% endfor %}
        </ul>
        {% for user in user_list %}
            <!--include导入，可以是多个-->
            {% include "tag.html" %}
        {% endfor %}
    </div>
{% endblock %}



{% block js %}
    <script>

    </script>
{% endblock %}